* {
    margin: 0;
    padding: 0;

}

html {
    background-color: #ecf0f1;
}

body {
    width: 1000px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;


}

h1 {
    color: #d35400;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;

}

table,
th,
td {
    border: 1px solid gray;
    padding: 10px;
}


th {
    text-transform: uppercase;
    text-align: left;
    width: 30%;

}

td {
    width: 60%;
}

img {
    width: 100px;
    margin: 15px;
}